


@font-face {
    font-family: Erotica;
    src: url(erotica.otf);
}
@font-face {
    font-family: ScotchItalic;
    src: url(scotch\ italic.otf);
}


head {
    font-size: 100pt;
    color: rgb(229, 76, 76);
   
    
 

}
body {
    
    font-size: 100pt;
    text-decoration: none;
    text-align: center;
    font-family: Erotica;
    transform: translateY(300px);
    

   
  
}

a:link {
    text-decoration: none;
    
}
a {
    color: rgb(229, 76, 76);
}
















.container {
    
  display: flex;
  justify-content: space-between; 
  gap: 2px; 
}

.item {
  flex: 1;

}
