


@font-face {
    font-family: Erotica;
    src: url(erotica.otf);
}
@font-face {
    font-family: ScotchItalic;
    src: url(scotch\ italic.otf);
}


body {
    color: rgb(229, 76, 76);
    background-color: rgb(255, 255, 255);
    background-image: url("tallhouse.svg") fill rgb(229, 76, 76);
    
    
}
h1 {
    font-size: 175pt;
    text-align: center;
    font-family: Erotica;
    
   

 
    
  
  
    
}
.overlay-text {
    position: absolute;
    font-family: scotchitalic;
    text-align: left;
    top: 130%;
    padding-left: 100pt;
    padding-right: 670pt;
    font-size: 20pt;
    
    
  }

 
p {
    font-family: scotchitalic;
    text-align: left;
    padding-left: 50pt;
    padding-right: 0pt;
    font-size: 20pt;
    transform:  skewX(-30deg);
    
    
}

.row {
    display: flex;
    transform: rotate(14deg) skewX(14deg);
  }
  
.column {
  display: flex;
    flex: 100%;
    font-family: scotchitalic;
    text-align: left;
    padding-left: 0pt;
    padding-right: 0pt;
    font-size: 20pt;
    
    
    }







